<%- include('../partials/header.ejs') %>

<div class="container">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <div class="card">
                <div class="card-header">
                    <h1>Dergi Oluştur</h1>
                </div>
                <div class="card-body">
                    <form action="/admin/dergiolustur" method="POST" enctype="multipart/form-data">

                        <div class="form-group">
                            <label for="baslik">Başlık:</label>
                            <input type="text" class="form-control admin-panel-input" id="baslik" name="baslik" required>
                        </div>

                        <div class="form-group">
                            <label for="konu">Konu:</label>
                            <input type="text" class="form-control admin-panel-input" id="konu" name="konu" required>
                        </div>

                        <div class="form-group">
                            <label for="yazar">Yazar:</label>
                            <input class="form-control admin-panel-input" id="yazar" name="yazar"></input>
                        </div>

                        <div class="form-group">
                            <label for="aciklama">Açıklama:</label>
                            <textarea class="form-control admin-panel-input" id="aciklama" name="aciklama"></textarea>
                        </div>

                        <div class="form-group">
                            <label for="kategori">Kategoriler</label>
                            <select name="kategorisi" id="kategorisi" class="form-control admin-panel-input">
                                <option value="kultur">Kültür</option>
                                <option value="tarih">Tarih</option>
                                <option value="edebiyat">Edebiyat</option>
                                <option value="bilim">Bilim</option>
                                <option value="sanat">Sanat</option>
                                <option value="saglik">Sağlık</option>
                                <option value="sinematv">Sinema & TV</option>
                                <option value="hukuk">Hukuk</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="resim">Resim Dosyası:</label>
                            <input type="file" class="form-control admin-panel-input" id="resim" name="resim" required>
                        </div>

                        <div class="form-group">
                            <label for="pdfDosya">PDF Dosyası:</label>
                            <input type="file" class="form-control admin-panel-input" id="pdfDosya" name="pdfDosya" accept=".pdf" required>
                        </div>

                        <button type="submit" class="btn btn-primary">Dergiyi Oluştur</button>
                    </form>
                    <a href="/admin/panel"><button class="btn btn-danger">Geri</button></a>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('../partials/footer.ejs') %>