/* Genel stiller */
@font-face {
    font-family: 'sanf';
    src: url('../fonts/sanf.ttf') format('ttf'), ; /* WOFF2 formatı için */   /* WOFF formatı için */
    font-weight: normal;
    font-style: normal;
}
html{
    height: 100%;
    transition: .3s ease-in-out;
}
body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 110%;
}


.container p {
    display: flex;
    flex-wrap: wrap;
    font-size: 1.1rem;
}
.row {
    display: flex;
    flex-wrap: wrap;
}
.col-md-6 {
    width: 50%;
    padding: 15px;
    box-sizing: border-box;
}

.filter-menus {
    width: 100%;
    padding: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}
.filter-categorys {
    list-style: none;
    padding: 0;
}

.filter-li {
    text-decoration: none;
    font-size: 1.2rem;
    color: #5c5b5b;
    transition: .3s ease-in-out;
    cursor: pointer;
    margin-bottom: 5px;
}

.filter-li:hover {
    color: black;
}

/* Kart stilleri */
.custom-card-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: flex-start;
}

.custom-card {
    width: 285px;
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgb(0, 0, 0, 0.2);
    transition: 0.3s ease-in-out;
    margin: 20px;
}

.custom-card:hover {
    transform: scale(1.01);
}

.custom-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.custom-card-content {
    padding: 20px;
    height: 205px;
}

.custom-card-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.custom-card-text {
    color: #666;
    font-size: .5rem;
    margin-bottom: 5px;
    line-height: 1.2;
}

.btn-custom {
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 4px;
    display: inline-block;
    transition: background-color 0.3s ease-in-out;
}

.btn-custom:hover {
    background-color: #0056b3;
}


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500&display=swap');
.navbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: #2b2b29;
    padding: 10px; /* 2px'ten 10px olarak değiştirildi */
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
}
.navbar a {
    text-decoration: none;
    color: #fff;
    font-size: 18px; /* 20px'den 18px'e düşürüldü */
    font-family: 'Oswald', sans-serif;
}
.logo {
    margin-left: 20px; /* 30px'den 20px'e düşürüldü */
    font-weight: 500;
}
.list {
    list-style: none;
    display: flex;
    gap: 20px; /* 30px'den 20px'e düşürüldü */
    color: #fff;
    margin-right: 20px; /* 30px'den 20px'e düşürüldü */
}

#toggler, .navbar label {
    color: #ffffff;
    display: none;
    height: 32px;
    width: 32px;
}


/* Hakkımızda sayfası özel stiller */

.container p {
    color: #495057;
}

.container h2 {
    color: #007bff;
}

.container a:hover {
    color: #0056b3;
}

/* Kart stilleri */

.card {
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

.index-img{
    border-radius: 10px;
    overflow: hidden;
    padding: 6px;
    background-color: white;
}
.detail-info {
    border-radius: 10px;
    overflow: hidden;
    padding: 20px;
    background-color: #e2e2e2;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}
.detail-info h2 {
    color: #007bff;
}
.detail-info h3 {
    color: #666;
}
.index-img img{
    height: 576px;
}

.index-img img,
.main-img img {
    width: 100%;
    
}

.index-img .card-body {
    background-color: #f8f9fa;
}

.index-img h5.card-title,
.detail-info p {
    color: #343a40;
}

.detail-info{
    background-color: #0056b3;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    display: inline-block;
    transition: background-color 0.3s ease-in-out;
}

.index-img a.btn-primary,
.download-link a {
    outline: none;
    border: none;
    background-color: #007bff;
    border-radius: 8px;
    padding: 6px;
    min-width: 120px;
    text-decoration: none;
    color: white;
}

.index-img a.btn-primary:hover,
.download-link a:hover {
    background-color: #0056b3;
    border-color: #0056b3;
    color: #fff;
}

/* Yükleme ekranı stilleri */

.loader-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    transition: opacity 0.5s;
}

.loader {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 5px solid #3498db;
    border-top: 5px solid #e74c3c;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.loader-hidden {
    opacity: 0;
    pointer-events: none;
}

body {
    background-color: #f8f9fa;
}


.card {
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-header {
    background-color: #007bff;
    color: white;
    border-bottom: none;
    border-radius: 10px 10px 0 0;
}

.card-body {
    padding: 20px;
}

.btn-primary {
    background-color: #007bff;
    border: none;
}

.btn-primary:hover {
    background-color: #0056b3;
}

a{
    text-decoration: none;
    color: white;
}

.c-text{
        background-color: #333;
        color: #fff;
        margin-top: 50px;
        padding: 10px;
        text-align: center;
        width: 100%;
}

.c-text p{
    text-decoration: underline;
    color: pink;
    text-transform: capitalize;
    text-overflow: clip;
}

.admin-panel-mini-1-img img{
    width: 120px;
    height: 120px;
}



.custom-row{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: 100%;

}

.custom-card-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
}





.detail-info {
    padding: 20px;
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    border-radius: 5px;
}

.download-link a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

/* Yorum ekle stilleri */
.detail-comment-area {
    background-color: #f8f9fa;
    border-radius: 5px;
    margin-top: 20px;
    padding: 20px;
    box-sizing: border-box; /* Kutu modelini etkinleştirme */
}

.detail-comment-area .container {
    width: 100%; /* .detail-comment-area içindeki .container'ın genişliği %100 olsun */
    max-width: 100%; /* .container'ın genişliği tarayıcı genişliğini aşmasın */
    margin: 0 auto; /* .container'ı ortala */
}
.custom-textarea {
    min-height: 100px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 15px;
}

.custom-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}
.custom-btn:hover {
    background-color: #0056b3;
}
/* Yorumlar stilleri */
.custom-list {
    list-style: none;
    padding: 0;
}

.custom-list-item {
    border: 1px solid #dee2e6;
    border-radius: 5px;
    margin-bottom: 15px;
    padding: 15px;
}

.custom-list-item-header {
    display: flex;
    justify-content: space-between;
    background-color: #f8f9fa;
    border-bottom: 1px solid #dee2e6;
    margin-bottom: 10px;
}

.custom-list-item p {
    padding: 10px;
    color: #343a40;
}


.usercont-table {
    background-color: #ffffff;
  }

  .usercont-table th,
  .usercont-table td {
    text-align: center;
  }

  .usercont-table thead th {
    background-color: #343a40;
    color: #ffffff;
  }

  .usercont {
    overflow-x: auto;
  }

.filter-area{
    background-color: #f5f5f5;
    box-shadow: 0px 2px 4px rgb(0,0,0,0.2);
    width: 250px;
    padding: 1rem;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.custom-card {
    animation: fadeIn 0.7s ease-in-out; /* Animasyon süresi ve geçiş efekti ayarları */
}

/* Filtre menüsü için de animasyon eklendi */
.filter-menus {
    animation: fadeIn 0.5s ease-in-out;
}

@media (min-width: 320px) and (max-width: 480px) {
    /* Ekran genişliği 767px'e kadar olan durumlar için stiller */
    .container {
        margin: 0px 0px 0px 0px;
        padding: 0px; /* Üst boşluğu sıfıra ayarla */
    }
    .row {
        flex-direction: column; /* Sütun düzenine geç */
        align-items: center; /* Ortala */
    }
    .list-group-item {
        border: none; /* Listeye kenarlık ekleme */
        border-radius: 8px; /* Köşeleri yumuşat */
        margin-bottom: 10px; /* Listeler arasına mesafe koy */
    }
    .list-group {
        width: 100%; /* Yorum listesinin genişliğini ayarla */
    }
    .col-md-6 {
        width: 100%; /* Tam genişlik */
    }

    .detail-info {
        margin-top: 20px; /* Boşluk ekleyerek resim ile detay bilgileri arasına mesafe koy */
    }

    .detail-comment-area {
        margin-top: 20px; /* Boşluk ekleyerek detay bilgileri ile yorumlar arasına mesafe koy */
    }

    .detail-comment-area form {
        width: 100%; /* Formun genişliğini ayarla */
    }
    .custom-card-container {
        display: flex;
        flex-direction: column; /* Kartları dikey hizala */
        align-items: flex-start;
        padding: 0px;
        margin: 0px; /* Kartları ortala */
    }
    .container p{
        font-size: .9rem;
    }

    .custom-card {
        width: calc(50% - 10px); /* Ekranın yarısından biraz daha dar, kenar boşluğu ekledik */
        margin: 8px; /* Kartlar arası boşluk */
    }
    .custom-card-content{
        padding-left: 4px;
        margin: 0px;
        height: 185px;
        box-sizing: border-box;
    }
    .custom-card-title{
        font-size: 1.1rem;
        color: #333;
        padding: .1rem;
    }
    .menu {
        width: 100%;
        max-height: 0;
        overflow: hidden;
    }

    .logo {
        margin-left: 0px;
    }

    .list {
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    .navbar label {
        display: inline-flex;
        align-items: center;
        cursor: pointer;
    }

    #toggler:checked ~ .menu {
        max-height: 100%;
    }
}


.notification-panel {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    text-align: center;
    display: none;
    z-index: 9999;
}

.notification-panel.show {
    display: block;
    animation: fadeInOut 5s ease-in-out;
}

@keyframes fadeInOut {
    0%, 100% {
        opacity: 1;
    }
    20%, 80% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}