<!DOCTYPE html>
<html lang="tr" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Lato:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/favicon/favicon2.ico" />
    <link href="https://fonts.googleapis.com/css2?family=Lato&family=Poppins:wght@300;400&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script>
    $(document).ready(function(){
         
    });
    </script>
    <title>YEDİTEPE KÜLTÜR VE SANAT DERGİSİ</title>
</head>
<body>
    
    <nav class="navbar">
        <a href="/" class="logo">
            <img src="/images/logoRemovedBackground.png" alt="LOGO" height="118" width="120">
        </a>
        <input type="checkbox" id="toggler">
        <label for="toggler"><i class="fa fa-bars"></i></label>
        <div class="menu">
            <ul class="list">
                <% if (userS && userS.username) { %>
                    <!-- Kullanıcı giriş yapmışsa -->
                    <li class="navbar">
                        <li class="navbar" href="#" data-bs-toggle="dropdown"aria-expanded="false">
                            Merhaba, <%= userS.firstName %>
                        </li>
                    </li>
                    <li class="navbar"><a href="/">Anasayfa</a></li>
                    <li class="navbar"><a href="/hakkimizda">Hakkımızda</a></li>
                    <li class="navbar"><a href="/iletisim">İletişim</a></li>
                    <% if(userS && userS.role==='admin'){ %>
                        <!-- Kullanıcı yöneticiyse -->
                        <li class="item">
                            <a class="navbar" href="/admin/Panel">Kontrol Paneli</a>
                        </li>
                    <% } %>
                    <li class="navbar"><form action="/auth/cikis" method="POST"><button class="btn bg-none text-white">Çıkış yap</button></form></li>
                <% } else { %>
                    <!-- Kullanıcı giriş yapmamışsa -->
                    <li class="navbar"><a href="/">Anasayfa</a></li>
                    <li class="navbar"><a href="/hakkimizda">Hakkımızda</a></li>
                    <li class="navbar"><a href="/iletisim">İletişim</a></li>
                    <li class="navbar">
                        <a class="item" href="/auth/giris">Giriş Yap</a>
                    </li>
                    <li class="navbar">
                        <a class="item" href="/auth/kayit">Kayıt Ol</a>
                    </li>
                <% } %>
            </ul>
        </div>
    </nav>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-PbHX7of8LQQcdiBye2w2/kVfV1Kl3HHG9h8ncZnlD8zSKeGrSjt+7tj4oN2iC2w7" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-LdEtrbybOjcgoVfBExF8R3rOys2tp2sJEL8VPRla2r8QXG5BK8N9gE3CCOu9x1Gq" crossorigin="anonymous"></script>


