<!-- views/giris.ejs -->

<%- include('./partials/header.ejs',) %>
 
<div class="loginPage">
    <form action="/auth/giris" method="post">
        <h2>Giriş Yap</h2>
        <div class="form-group">
            <label for="username">Kullanıcı Adı:</label>
            <input type="text" class="form-control" id="username" name="username" placeholder="Kullanıcı adınızı girin" required>
        </div>
        <div class="form-group">
            <label for="password">Şifre:</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Şifrenizi girin" required>
        </div>
        <a style="color: #28c4d8" href="/auth/kayit">Zaten bir hesabınız var mı?</a>
        <br>
        <button type="submit" class="loginBtn">Giriş Yap</button>
    </form>
</div>

<%- include('./partials/footer.ejs') %>