<%- include('./partials/header.ejs',) %>
<%- include('./partials/loader.ejs') %>
<div class="container">
    <section class="about-us">
        <h2>Hakkımızda</h2>
        <p>
            Yeditepe Kültür ve Sanat, sanatı ve kültürü ön planda tutan, çeşitli alanlarda yazılmış dergileri bir araya
            getiren bir platformdur. Amacımız, sanatseverlere çeşitli perspektiflerden zengin içerik sunarak kültürel
            bir deneyim yaşatmaktır.
        </p>
        <p>
            Sizlere sunduğumuz dergiler, farklı konularda uzmanlaşmış yazarlar tarafından kaleme alınmıştır. Yeditepe
            Kültür ve Sanat olarak, sanatın ve kültürün birleştirici gücüne inanıyor ve bu gücü herkese ulaştırmak
            istiyoruz.
        </p>
    </section>

    <div class="social-media">
        <h2>Bizi Takip Edin</h2>
        <div class="social-icons">
            <a href="https://www.instagram.com/yeditepekultursanat" target="_blank" rel="">
                <i class="fa-brands fa-instagram"></i><span>yeditepekultursanat</span>
            </a>
            <!-- Diğer sosyal medya ikonları ekleyebilirsiniz -->
        </div>
    </div>
</div>
<%- include('./partials/footer.ejs') %>