<%- include('./partials/header.ejs',) %>
<div class="container">
    <div class="about-area">
        <div class="about-page">
            <h2>Hakkımızda</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo, vitae facere. Assumenda provident nostrum voluptatum facere modi unde! Ipsum exercitationem, tempore quod aliquid ab et repudiandae? Quidem nesciunt excepturi facilis sunt nostrum provident, odit accusantium est rerum facere voluptatum fugit enim minus delectus. Nemo officia eum commodi veritatis? Assumenda, laudantium.</p>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quos, hic!</p>
            <!-- Diğer bilgiler ve içerikler buraya eklenebilir -->
        </div>
    </div>
</div>
<%- include('./partials/footer.ejs') %>