<%- include('./partials/header.ejs',) %>
<%- include('./partials/loader.ejs') %>
<div class="container">
    <section class="about-us">
        <h2>Hakkımızda</h2>
        <p>
            Sevgili okur, “Yeditepe Kültür ve Sanat Dergisi” ile karşınızdayız. Aslında karşınızdayız tabirinin yansıttığı anlamdan çok, ekibimiz tarafından titizlikle seçilmiş edebi yönleri yüksek, tefekküre yönelten tüm eserler ile sizlerin yanında olmak tek gayemiz.
        </p>
        <p>
            Bizlere bahşedilen zaman mefhumunun içini en güzel şekilde doldurmak için daha doğrusu hayatımızın içini, aklımızı, bilincimizi, kalbimizi, güzel şeyler ile meşgul etmek, bir nebze de olsa hem kendimize, hem de topluma daha faydalı bireyler olmamıza fayda sağlamak amacıyla çıktığımız bu yolda, tüm gayretimiz ile siz sevgili okurların dimağlarında müspet bir şekilde yer etmek istiyoruz. Günümüzde insanların, vakitlerinin büyük çoğunluğunu sosyal medyada, aklen ve kalben hiçbir faydası olmayan meşgaleler ile tükettiğini üzülerek izliyoruz. Biz biliyoruz ki okumak ve öğrenmek, hem kalbi, hem de aklı besler. Nasıl ki bedenin gelişmesi için yemeğe ihtiyaç varsa, aklın ve kalbin de beslenmesi için sanata ve ilme ihtiyaç vardır. Maalesef, manevi bir gıda zehirlenmesi ile karşı karşıyayız. Bizler dergi vizyonu olarak, toplumuzun kültürüne uygun, öz değerleri çizgisinde, insanların kalbini ve aklını, yararlı ve güzel şeyler ile beslemeyi, onlara zamanlarını en faydalı şekilde geçirmelerine yardımcı olmayı amaç edindik. Bu amaçlar doğrultusunda dergimize gönderilen eserlerin seçimine Yeditepe Kültür ve Sanat ekibi olarak çok ehemmiyet vermekteyiz. 
        </p>
        <p>
            Yaşanmaya değer bir hayat için hakiki bilginin, sanatın, fikrin ve yüksek ahlaki duyguların ne kadar önemli olduğunun farkındayız.
Güzel olan şeyler sergilenmek ister. Şiirden,öyküye, kişisel gelişime, tarihten, psikolojik analizlere, deneme ve eğitici yazılardan, fikriyata kadar birçok faydalı konuda siz değerli okuyuculara katkı sunmak iştiyakındayız. Bu iştiyak ile inşa ettiğimiz mütevazı bir dergidir Yeditepe Kültür ve Sanat Dergisi.
Ünlü bir düşünürümüz Cemil Meriç’in tabiri ile: “Dergiler tefekkürün bir başka kalesidir.” ve “Okumak aklı kibarlaştırır.”
Sevgi hürmetle…
        </p>
        <p>
            Yeditepe Kültür ve Sanat Dergisi Genel Yayın Yönetmeni Nazım Köyce
        </p>
    </section>

    <div class="social-media">
        <h2>Bizi Takip Edin</h2>
        <div class="social-icons">
            <a href="https://www.instagram.com/yeditepe.kultur.sanat" target="_blank" rel="">
                <i class="fa-brands fa-instagram"></i><span>yeditepekultursanat</span>
            </a>
            <a href="https://www.facebook.com/profile.php?id=61556218620082&mibextid=ZbWKwL" target="_blank" rel="">
                <i class="fa-brands fa-facebook"></i><span> yeditepekultursanat</span>
            </a>
            <!-- Diğ
            <!-- Diğer sosyal medya ikonları ekleyebilirsiniz -->
        </div>
    </div>
</div>
<%- include('./partials/footer.ejs') %>