<%- include('./partials/header.ejs',) %>

<div class="container mt-4">
    <h2>Hakkımızda</h2>
    <p>
        Yedi Tepe Kültür ve Sanat Dergisi, kültür ve sanat alanlarındaki çeşitli konuları ele alan bir platformdur.
        Amacımız, sanatın ve kültürün zenginliğini keşfetmek ve paylaşmak, yaratıcılığı teşvik etmek ve topluluğumuzun
        bu alanlarda birbirinden öğrenmesini sağlamaktır.
    </p>
    <p>
        Dergimizde edebiyat, resim, müzik, tiyatro ve daha pek çok sanat dalına dair makaleler, incelemeler ve eserler
        yer almaktadır. Siz de Yedi Tepe Kültür ve Sanat Dergisi'ne katkıda bulunabilir, yazılarınızı ve eserlerinizi
        paylaşabilirsiniz.
    </p>
    <p>
        Kültür ve sanatı seven herkesi dergimize katılmaya ve bu güzel yolculukta birlikte ilerlemeye davet ediyoruz.
    </p>
</div>

<%- include('./partials/footer.ejs') %>