<%- include('./partials/header.ejs',) %>

<!DOCTYPE html>
<html lang="tr" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Hakkımızda - Yeditepe Kültür ve Sanat Dergisi</title>
    <style>
        body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h2 {
    color: #333;
}

p {
    color: #555;
}
/* public/css/loading.css */
#loading-screen {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

#loading-spinner {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
    </style>
</head>
<body>
    <main>
        <section id="hakkimizda">
            <h2>Hakkımızda</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo, vitae facere. Assumenda provident nostrum voluptatum facere modi unde! Ipsum exercitationem, tempore quod aliquid ab et repudiandae? Quidem nesciunt excepturi facilis sunt nostrum provident, odit accusantium est rerum facere voluptatum fugit enim minus delectus. Nemo officia eum commodi veritatis? Assumenda, laudantium.</p>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quos, hic!</p>
            <!-- Diğer bilgiler ve içerikler buraya eklenebilir -->
        </section>
    </main>
    <footer class="c-text">
        <p>&copy; 2024 Yeditepe Kültür ve Sanat Dergisi Tüm hakları saklıdır.</p>
    </footer>
</body>
</html>

<%- include('./partials/footer.ejs') %>