<%- include('./partials/header.ejs',) %>

<!DOCTYPE html>
<html lang="tr" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Hakkımızda - Dergi Adı</title>
</head>
<body>
    <main>
        <section id="hakkimizda">
            <h2>Hakkımızda</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo, vitae facere. Assumenda provident nostrum voluptatum facere modi unde! Ipsum exercitationem, tempore quod aliquid ab et repudiandae? Quidem nesciunt excepturi facilis sunt nostrum provident, odit accusantium est rerum facere voluptatum fugit enim minus delectus. Nemo officia eum commodi veritatis? Assumenda, laudantium.</p>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Enim, rem.</p>
            <!-- Diğer bilgiler ve içerikler buraya eklenebilir -->
        </section>
    </main>
    <footer>
        <p>&copy; 2024 Yeditepe Kültür ve Sanat Dergisi Tüm hakları saklıdır.</p>
    </footer>
</body>
</html>

<%- include('./partials/footer.ejs') %>