<%- include('./partials/header.ejs',) %>
<div class="container">
    <section class="contact">
        <h2>İletişim</h2>
        <p>Bizimle iletişime geçmek için aşağıdaki bilgileri kullanabilirsiniz.</p>
        <ul>
            <li><strong>E-posta:</strong> yeditepekulturvesanat@gmail.com</li>
        </ul>
        <p>Bizimle sosyal medyada da bağlantı kurabilirsiniz:</p>
        <div class="social-icons">
            <a href="https://www.instagram.com/yeditepe.kultur.sanat?igsh=NTc4MTIwNjQ2YQ==" target="_blank" rel="">
                <i class="fa-brands fa-instagram"></i><span>yeditepekultursanat</span>
            </a>
            <a href="https://www.facebook.com/profile.php?id=61556218620082&mibextid=ZbWKwL" target="_blank" rel="">
                <i class="fa-brands fa-facebook"></i><span>yeditepekultursanat</span>
            </a>
            <!-- Diğer sosyal medya ikonları ekleyebilirsiniz -->
        </div>
    </section>
</div>

<div class="container">
    <section class="contact">
    <h2>Sitemize yazınızı gönderin.</h2>
    <p>Aşağıda gösterilen formu doldurarak sitemizde veya dergilerimizde paylaşılmasını istediğiniz yazılarınızı veya şiirlerinizi bize değerlendirmemiz ve sizinle iletişime geçmemiz için gönderebilirisiniz.</p>
</section>
</div>
<%- include('./partials/footer.ejs') %>